.navigation {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  .inner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 90%;
    height: 90px;
    .column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo {
        flex: 1;
        width: 200px;
        @include breakpoint("phone-tablet") {
          display: none;
        }
      }
      .searchInput {
        flex: 1;
        text-align: center;
        font-size: $nomal-font-size;
        padding: 4px 15px;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 220px;
        background-color: #fcfcfc;
        &:focus {
          outline: none;
          text-align: left;
          background-color: white;
        }
      }
      .navIcon {
        flex: 1;
        margin: 0 15px;
        @include breakpoint("phone-tablet") {
          display: none;
        }
      }
    }
  }
}